body {
	min-width: 380px;
    min-height: 45px;
    background-color: transparent;
}
.wrap {
	padding: 18px 0px 2px 0px;
}
#btn-add {
	width: 49%;
    font-weight: bold;
    display: inline-block;
}
#btn-filter {
	width: 49%;
    font-weight: bold;
    display: inline-block;
}
#capture {
	width: 100%;
	margin-top: 20px;
	font-weight: bold;
}
.toggle-wrap {
	width: 100%;
    height: 25px;
    position: relative;
}
.toggle-wrap .fas {
	width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    color: #b3adad;
	cursor: pointer;
}
.btn-multi-wrap {
	padding: 12px 0px;
}
#btn-multi-filter {
	width: 100%;
	font-weight: bold;
}


